*{
    margin:0;
    padding:0;
    font-size: 16px;    
}

/* HEADER  */


.menuHeader nav ul{
    display: flex;
    flex-direction: row;
    background-color: grey;
    justify-content: center;
    margin-bottom: 0.5%;
    height: 100%;
}

.menuHeader ul li{
    list-style-type: none;
    padding: 0.8%;  
}

.menuHeader nav ul li a{
    color: white;
    text-decoration: dotted;
    text-transform:uppercase;
    font-size: 1.2rem;
}

.menuHeader nav ul li a:hover{
    color: black
}

/* PAGE INDEX*/

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../recursos/windsurfers-600x400-1.webp);
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	position: relative;   
}  

.titulo h1{
    font-size: 4rem;
    font-family: 'Water Brush', cursive;
    text-align: center;
    margin: 3%;
}

.titulo h2{
    font-size: 4rem;
    font-family: 'Water Brush', cursive;
    text-align: center;
    margin: 3%;
}

.cursos{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    margin-top: 0.5%;
   
}

.cursos__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursos__w{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1%;
    justify-content: space-between;
}

.cursos__k{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1%;
    justify-content: space-between;
}

.cursos__s{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    padding: 1%;
}

.cursos__img {
    border-radius: 20px;
    width: 70%;

}

.cursos__titulo{
    color: grey;
    font-size: 1.5rem;
    margin-bottom: 3%;
    text-align: center;
}

.cursos__texto{
    color: grey;
    font-size: 1.2rem;
    padding: 5%;
    width: 70%;
}

.cursos__button{
    width: 90%;
    border-radius: 50%;
    padding: 4%;
    background-color: grey;
    color: white;
    font-size: 1rem;
    margin: 10% 5%;
   
}

.cursos__button:hover{
    transform: scale(1.2);
}


/* FOOTER */
footer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 8vh;
    padding: 1%;
    margin-top: 2%;
}

.footer__uno{
    margin: 1%;
    width: 40rem;
}

.footer__uno p{
    font-size: 1rem;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.footer__dos{
    margin: 1%;
    align-self: center;
}

.footer__tres p{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: grey;
}

.footer__tres{
    margin: 1%;  
}

.footer__logo{
    width: 8%;
   height: 1%;
}


/* PAGE CURSOS*/
.cursos__main{
    display: flex;
    margin-top: 2%;
    width: 100%;
}

.wind{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;   
}

.kite{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
}

.stand{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "label1 campo1"
    "label2 campo2"
    "label3 campo3"
    "label4 campo4"
    "label5 campo5"
    "label6 campo6"
    "label7 campo7"
    "label8 campo8"
    ;
    border: 3px solid black;
    border-radius: 5%;
    gap: 1%;
    margin: 5%;
    width: 90%;
}

.form label{
    font-size: 1rem;
}

.form input{
    font-size: 1rem;
    width: 80%;
}

.form__enviar{
    justify-self: center;
    margin: 2%;
}

.label1{
    grid-area: label1;
    margin: 5%;
}
.campo1{
    grid-area: campo1;
    margin: 5%;
}

.label2{
    grid-area: label2;
    margin: 5%;
}
.campo2{
    grid-area: campo2;
    margin: 5%;
}

.label3{
    grid-area: label3;
    margin: 5%;
}
.campo3{
    grid-area: campo3;
    margin: 5%;
}

.label4{
    grid-area: label4;
    margin: 5%;
}
.campo4{
    grid-area: campo4;
    margin: 5%;
}

.label5{
    grid-area: label5;
    margin: 5%;
}
.campo5{
    grid-area: campo5;
    margin: 5%;
}

.label6{
    grid-area: label6;
    margin: 5%;
}
.campo6{
    grid-area: campo6;
    margin: 5%;
}

.label7{
    grid-area: label7;
    margin: 5%;
}
.campo7{
    grid-area: campo7;
    margin: 5%;
}

.label8{
    grid-area: label8;
    margin: 5%;
}
.campo8{
    grid-area: campo8;
    margin: 5%;
} 

.cursos__main h3{
    font-size: 2rem;
    color: black;
}

.cursos__main p{
    color: black;
    width: 70%;
    height: 100%;
    margin-bottom: 2%;
    font-size: 1rem;
}

.cursos__mainImg{
    width: 90%;
    border-radius: 5%;
    margin: 3%;
}


/* PAGE TUTORIALES */

.grid__tutoriales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "gridTitle gridTitle"
    "grid__uno grid__dos"
    "grid__tres grid__cuatro"
    "grid__cinco grid__seis"
    "grid__siete grid__ocho"
    ;
    gap: 1rem;
}

.gridTitle{
    grid-area: gridTitle;
    font-size: 2.5rem;
    color: grey;
    text-align: center;
    margin: 3%;
}

.grid__uno{
    display: flex;
    justify-content: center;
    grid-area: grid__uno;
}

.grid__dos{
    display: flex;
    justify-content: center;
    grid-area: grid__dos;
}

.grid__tres{
    display: flex;
    justify-content: center;
    grid-area: grid__tres;
}

.grid__cuatro{
    display: flex;
    justify-content: center;
    grid-area: grid__cuatro;
}

.grid__cinco{
    display: flex;
    justify-content: center;
    grid-area: grid__cinco;
}

.grid__seis{
    display: flex;
    justify-content: center;
    grid-area: grid__seis;
}

.grid__siete{
    display: flex;
    justify-content: center;
    grid-area: grid__siete;
}

.grid__ocho{
    display: flex;
    justify-content: center;
    grid-area: grid__ocho;
}


/* PAGE EQUIPOS */

.equipos__grid{
    width: 100%;
}

.equipos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "title1 title1"
    "img1 img2" 
    "img3 img4" 
    "img5 img6"
    "img7 img8" 
    ;
    gap: 1%;
    margin: 1%;
    padding: 1%;
    width: 100%;  
}

.title1{
    grid-area: title1;
    color:black;
    text-align: center;
    font-size: 2rem;
}

.equipos__grid p{
    color: black;
    width: 60%;
    margin-top: 2%;
}

.equipos__grid img{
    width: 50%;
}

.equipos__grid h2{
  color: black;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 2%;
  text-align: center;
}

.equipoTabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: img1;
}

.equipoVela{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area:img2 ;
}

.equipoBotabara{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: img3;
}

.equipoMastil{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: img4;
}

.equipoQuilla{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: img5;
}

.equipoPie{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: img6; 
}

.equipoExtensores{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: img7;
    height: 100vh;
}

.equipoAccesorios{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: img8;
    height: 100vh;
}


/* PAGE CONTACTO */

.contactos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactos__form{
    display: flex;
    flex-direction: column;
}

.contactos__form label {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.contactos__form input {
    font-size: 1.5rem;
    margin-top: 2%;
}

.contactos__form textarea {
    font-size: 1.5rem;
    width: 40vw;
    margin-top: 2%;
}

.contactos__info{
    align-self: flex-start;
    margin: 5%;
}

/* TABLET */

@media (min-width: 541px) and (max-width: 720px) {

/* INDEX */
        .titulo{
            height:15rem;
            margin-bottom: 2%;
        }
    
        .titulo h1{
            font-size: 2.2rem;
        }
    
        .titulo h2{
            font-size: 2rem;
        }
    
        .cursos__titulo{
            font-size: 1.2rem;
        }
    
        .cursos__texto{
            font-size: 1rem;
            width: 70%;
            height: 65vh;
        }
    
        .cursos__button{
            width: 80%;
            border-radius: 50%;
            padding: 4%;
            font-size: 0.8rem;
        }
    
/* FOOTER */
        footer{
            height: 12vh;
        }
        
        .footer__uno p{
            font-size: 0.8rem;
        }
        
        .footer__tres p{
            font-size: 0.8rem;
        }
    
        .footer__logo{
            width: 12%;
        }
    
/* CURSOS */
        .cursos__main{
            flex-direction: column;
            align-items: center;
        }
    
        .cursos__main h3{
            font-size: 1.5rem;
            margin-top: 4%;
        }
    
        .cursos__main p{
            height: 40vh;
        }
    
 /* TUTORIALES */
    
        .grid__tutoriales iframe{
            width: 90%;
            height: 90%;
        }

        .gridTitle{
            font-size: 1.5rem;
        }

 /* EQUIPO */

        .title1{
            font-size: 1.5rem;
        }

        .equipos__grid h2{
            font-size: 1.2rem;
        }

/* CONTACTOS */

        .contactos iframe{
            width: 100%;
            height: 80%;
            margin: 5%;
        }

        .contactos__form label {
            font-size: 1rem;   
        }
        
        .contactos__form input {
            font-size: 1rem;
        }

    }
    

/* CELULAR */
@media (min-width: 320px) and (max-width: 540px) {

/* INDEX */
    .menuHeader nav ul li a{
        font-size: 0.8rem;
    }

    .titulo{
        height: 15rem;
        margin-bottom: 2%;
    }

    .titulo h1{
        font-size: 2.2rem;
    }

    .titulo h2{
        font-size: 2rem;
    }

    .cursos{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        align-items: center;
    }

    .cursos__titulo{
        font-size: 1.2rem;
    }

    .cursos__texto{

        font-size: 1rem;
        padding: 3%;
        width: 70%;
        height: 35vh;
    }


    .cursos__button{
        width: 40%;
        border-radius: 50%;
        font-size: 0.7rem;
    }

    footer{
        height: 8vh;
    }
    
    
    .footer__uno p{
        font-size: 0.5rem;
    }
    
    .footer__tres p{
        font-size: 0.5rem;
    }

    .footer__logo{
        width: 12%;
    }
    
/* CURSOS */
    .cursos__main{
        flex-direction: column;
        align-items: center;
    }

    .cursos__main h3{
        font-size: 1.2rem;
        margin-top: 5%;
    }

    .cursos__main p{
        height: 55vh;
    }

    .form label{
        font-size: 0.9rem;
    }

    .form input{
        width: 90%;
        font-size: 0.6rem;
    }

/* TUTORIALES */
    .grid__tutoriales{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:
        "gridTitle"
        "grid__uno" 
        "grid__dos"
        "grid__tres" 
        "grid__cuatro"
        "grid__cinco" 
        "grid__seis"
        "grid__siete"
        "grid__ocho"
        ;
    } 

    .grid__tutoriales iframe{
        width: 90%;
    }

    .gridTitle{
        font-size: 1.2rem;
    }

/* EQUIPO */

    .equipos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title1"
        "img1" 
        "img2" 
        "img3" 
        "img4" 
        "img5" 
        "img6"
        "img7" 
        "img8" 
    ;
    }

    .title1{
        font-size: 1.5rem;
    }

    .equipos__grid h2{
        font-size: 1.2rem;
    }

    .equipoAccesorios{
        height: 150vh;
    
    }

    .equipoExtensores{
        height: 100vh;
    }

/* CONTACTOS */

    .contactos iframe{
        width: 90%;
        height: 80%;
        margin: 5%;
    }

    .contactos__form label {
        font-size: 1rem;   
    }

    .contactos__form input {
        font-size: 1rem;
    }

    .contactos__form textarea {
        font-size: 1rem;
        width: 60vw; 
    }
    
    .contactos__info ul li{
        font-size: 0.8rem;
    }


}
