@charset "UTF-8";
/* Tamaño de titulos */
/* Colores */
/* LISTA DE IMAGES */
/* EACH */
.img1 {
  background-image: url("../recursos/equipos/equipo_tabla.jpg");
  width: 300px;
  height: 300px; }

.img2 {
  background-image: url("../recursos/equipos/equipo_vela.jpg");
  width: 300px;
  height: 300px; }

.img3 {
  background-image: url("../recursos/equipos/equipo_botabara.jpg");
  width: 300px;
  height: 300px; }

.img4 {
  background-image: url("../recursos/equipos/equipo_mastil.jpg");
  width: 300px;
  height: 300px; }

.img5 {
  background-image: url("../recursos/equipos/equipo_quilla.jpg");
  width: 300px;
  height: 300px; }

.img6 {
  background-image: url("../recursos/equipos/equipo_extensor.jpg");
  width: 300px;
  height: 300px; }

.img7 {
  background-image: url("../recursos/equipos/equipo_accesorios.jpg");
  width: 300px;
  height: 300px; }

/* MIXIN */
.cursos {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  margin-top: 0.5%; }
  .cursos__contenido {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cursos__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 1%;
    justify-content: space-between; }
  .cursos__img {
    border-radius: 20px;
    width: 70%; }
  .cursos__titulo {
    color: grey;
    font-size: 1.5rem;
    margin-bottom: 3%;
    text-align: center; }
  .cursos__texto {
    color: grey;
    font-size: 0.9rem;
    padding: 1%;
    width: 70%; }

* {
  margin: 0;
  padding: 0;
  font-size: 16px; }

/* PAGE INDEX*/
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../recursos/windsurfers-600x400-1.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative; }
  .titulo__transicion {
    transition: all 2s; }
  .titulo h1 {
    font-size: 4rem;
    font-family: 'Water Brush', cursive;
    text-align: center;
    margin: 3%;
    color: black; }
    .titulo h1:hover {
      transform: scale(1.5); }
  .titulo h2 {
    font-size: 4rem;
    font-family: 'Water Brush', cursive;
    text-align: center;
    color: black;
    margin: 3%; }

.sobre__nosotros {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(128, 128, 128, 0.281); }
  .sobre__nosotros h2 {
    align-self: center;
    margin-bottom: 5%;
    font-size: 1.5rem; }
  .sobre__nosotros h3 {
    font-size: 1.2rem; }
  .sobre__nosotros p {
    font-size: 0.9rem; }

/* FOOTER */
.footer__center {
  text-align: center;
  margin-top: 2%; }

/* PAGE CURSOS*/
.cursos__main {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  margin-top: 2%;
  width: 100%; }
  .cursos__main h1 {
    font-size: 1.5rem;
    color: black; }
  .cursos__main p {
    color: black;
    width: 70%;
    height: 100%;
    margin-bottom: 2%;
    font-size: 0.9rem; }

.cursos__mainImg {
  width: 90%;
  border-radius: 5%;
  margin: 3%; }

.wind {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 80%; }

.kite {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 80%;
  height: 80%; }

.stand {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 80%; }

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "label1 campo1" "label2 campo2" "label3 campo3" "label4 campo4" "label5 campo5" "label6 campo6" "label7 campo7" "label8 campo8";
  border: 3px solid black;
  border-radius: 5%;
  gap: 1%;
  margin: 5%;
  width: 90%;
  background-image: linear-gradient(to left, #8d8d8d, rgba(53, 53, 53, 0.219)); }
  .form .label1 {
    grid-area: label1;
    margin: 5%; }
  .form .campo1 {
    grid-area: campo1;
    margin: 5%; }
  .form .label2 {
    grid-area: label2;
    margin: 5%; }
  .form .campo2 {
    grid-area: campo2;
    margin: 5%; }
  .form .label3 {
    grid-area: label3;
    margin: 5%; }
  .form .campo3 {
    grid-area: campo3;
    margin: 5%; }
  .form .label4 {
    grid-area: label4;
    margin: 5%; }
  .form .campo4 {
    grid-area: campo4;
    margin: 5%; }
  .form .label5 {
    grid-area: label5;
    margin: 5%; }
  .form .campo5 {
    grid-area: campo5;
    margin: 5%; }
  .form .label6 {
    grid-area: label6;
    margin: 5%; }
  .form .campo6 {
    grid-area: campo6;
    margin: 5%; }
  .form .label7 {
    grid-area: label7;
    margin: 5%; }
  .form .campo7 {
    grid-area: campo7;
    margin: 5%; }
  .form .label8 {
    grid-area: label8;
    margin: 5%; }
  .form .campo8 {
    grid-area: campo8;
    margin: 5%; }
  .form__enviar {
    justify-self: center;
    margin: 2%; }
  .form label {
    font-size: 1rem; }
  .form input {
    font-size: 1rem;
    width: 80%; }

/* PAGE TUTORIALES */
.tutoriales {
  margin: 2%;
  text-align: center; }

/* PAGE EQUIPOS */
.grid__equipos {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%; }

/* PAGE CONTACTO */
.contactos {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center; }
  .contactos__maps {
    margin-top: 2%; }
  .contactos__form {
    width: 80%;
    margin-top: 5%; }
  .contactos__info {
    align-self: flex-start;
    margin: 5%; }

@media (min-width: 541px) and (max-width: 720px) {
  /* INDEX */
  .titulo {
    height: 60vh;
    margin-bottom: 2%; }
    .titulo h1 {
      font-size: 1.8rem; }
    .titulo h2 {
      font-size: 1.8rem; }
  .sobre__nosotros h2 {
    font-size: 1rem; }
  .sobre__nosotros h3 {
    font-size: 1rem; }
  .sobre__nosotros p {
    font-size: 1rem; }
  .cursos__titulo {
    font-size: 1rem; }
  .cursos__texto {
    font-size: 1rem;
    width: 70%; }
  /* FOOTER */
  .footer__center p {
    font-size: 0.8rem; }
  /* CURSOS */
  .cursos__main {
    flex-direction: column;
    align-items: center; }
  .cursos__main h1 {
    font-size: 1rem;
    margin-top: 1%; }
  .cursos__main p {
    height: 40vh; }
  /* TUTORIALES */
  .tutoriales h1 {
    font-size: 1rem; }
  /* CONTACTOS */
  .contactos iframe {
    width: 95%;
    height: 95%;
    margin: 2%; } }

@media (min-width: 320px) and (max-width: 540px) {
  /* INDEX */
  .titulo {
    height: 50vh;
    margin-bottom: 2%; }
  .titulo h1 {
    font-size: 2rem; }
  .titulo h2 {
    font-size: 2rem; }
  .sobre__nosotros h2 {
    font-size: 1rem; }
  .sobre__nosotros h3 {
    font-size: 1rem; }
  .sobre__nosotros p {
    font-size: 0.8rem; }
  .cursos {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center; }
  .cursos__titulo {
    font-size: 1rem; }
  .cursos__texto {
    font-size: 0.8rem;
    padding: 3%;
    width: 70%; }
  .footer__center p {
    font-size: 0.6rem; }
  /* CURSOS */
  .cursos__main {
    flex-direction: column;
    align-items: center; }
  .cursos__main h1 {
    font-size: 1rem;
    margin-top: 2%; }
  .cursos__main p {
    font-size: 0.8rem; }
  .form label {
    font-size: 0.8rem; }
  .form input {
    width: 90%;
    font-size: 0.6rem; }
  /* TUTORIALES */
  .tutoriales h1 {
    font-size: 1rem; }
  .tutoriales iframe {
    width: 100%; }
  /* EQUIPO */
  .grid__equipos p {
    font-size: 0.8rem; }
  .grid__equipos img:hover {
    transform: none; }
  /* CONTACTOS */
  .contactos iframe {
    width: 90%;
    height: 90%;
    margin: 2%; } }
