@charset "UTF-8";
/* Tamaño de titulos */
/* Colores */
/* LISTA DE IMAGES */
/* EACH */
.img1 {
  background-image: url("../recursos/equipos/equipo_tabla.jpg");
  width: 300px;
  height: 300px; }

.img2 {
  background-image: url("../recursos/equipos/equipo_vela.jpg");
  width: 300px;
  height: 300px; }

.img3 {
  background-image: url("../recursos/equipos/equipo_botabara.jpg");
  width: 300px;
  height: 300px; }

.img4 {
  background-image: url("../recursos/equipos/equipo_mastil.jpg");
  width: 300px;
  height: 300px; }

.img5 {
  background-image: url("../recursos/equipos/equipo_quilla.jpg");
  width: 300px;
  height: 300px; }

.img6 {
  background-image: url("../recursos/equipos/equipo_extensor.jpg");
  width: 300px;
  height: 300px; }

.img7 {
  background-image: url("../recursos/equipos/equipo_accesorios.jpg");
  width: 300px;
  height: 300px; }

/* MIXIN */
.deportes {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  background-color: black;
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 0.5%; }
  .deportes__contenido {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center; }
  .deportes__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1%; }
  .deportes__img {
    border-radius: 20px;
    width: 70%; }
  .deportes__titulo {
    color: grey;
    font-size: 1.5rem;
    margin-bottom: 3%;
    text-align: center; }
  .deportes__texto {
    color: grey;
    font-size: 0.9rem;
    text-align: justify;
    padding: 1%;
    width: 70%; }

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, rgba(93, 93, 94, 0.6), rgba(57, 57, 58, 0.9));
  position: all;
  width: 100%;
  margin-top: 0.5%; }
  footer .footerBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem; }
    footer .footerBlock .footerTexto {
      color: black;
      font-size: 1rem; }
  footer .footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px; }
    footer .footerIcon .fa {
      padding: 0.3rem;
      margin: 0 0.2rem;
      font-size: 1.5rem;
      width: 40px;
      text-align: center;
      text-decoration: none;
      border-radius: 10px; }
    footer .footerIcon .fa-facebook {
      background: #3B5998;
      color: white; }
    footer .footerIcon .fa-instagram {
      background: #3B5998;
      color: white; }
    footer .footerIcon .fa-twitter {
      background: #3B5998;
      color: white; }
  footer .footerContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5%;
    padding: 0.5%;
    margin-right: 2%; }
    footer .footerContacto a {
      color: white;
      font-size: 1.5rem;
      transition: transform 0.5s;
      text-decoration: none;
      margin: 12%; }
      footer .footerContacto a:hover {
        transform: scale(1.2); }

* {
  margin: 0;
  padding: 0;
  font-size: 16px; }

/* PAGE INDEX*/
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../recursos/windsurfers-600x400-1.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative; }
  .titulo__transicion {
    transition: all 2s; }
  .titulo h1 {
    font-size: 4.5rem;
    font-family: 'Water Brush', cursive;
    text-align: center;
    margin: 3%;
    color: black; }
    .titulo h1:hover {
      transform: scale(1.5); }
  .titulo h2 {
    font-size: 4.5rem;
    font-family: 'Water Brush', cursive;
    text-align: center;
    color: black;
    margin: 3%; }

.sobre__nosotros {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #7a7a7a94;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); }
  .sobre__nosotros h2 {
    align-self: center;
    font-family: 'Water Brush', cursive;
    margin-bottom: 3%;
    margin-top: 5%;
    font-size: 3rem; }
  .sobre__nosotros h3 {
    font-size: 1.8rem;
    text-decoration: underline; }
  .sobre__nosotros p {
    font-size: 0.9rem;
    text-align: justify; }

/* PAGE CURSOS*/
.cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  background-color: whitesmoke; }
  .cursos__boxuno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    margin: 1%; }
    .cursos__boxuno h1 {
      font-size: 1.5rem;
      text-align: center;
      text-decoration: underline; }
    .cursos__boxuno p {
      text-align: justify; }
  .cursos__boxdos {
    margin: 1%; }
    .cursos__boxdos p {
      text-align: justify; }
  .cursos__boxtres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    margin: 1%; }
  .cursos__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .cursos__img img {
      width: 100%; }
  .cursos__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal; }
    .cursos__form label {
      font-size: 1rem; }
    .cursos__form select {
      font-size: 1rem; }
    .cursos__form input {
      font-size: 1rem; }
  .cursos__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .cursos__prices p {
      font-size: 1rem; }

/* PAGE TUTORIALES */
.tutoriales {
  text-align: center; }
  .tutoriales p {
    text-align: justify; }

/* PAGE EQUIPOS */
.grid__equipos {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%; }

/* PAGE CONTACTO */
.contactos {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center; }
  .contactos__maps {
    margin-top: 2%; }
  .contactos__form {
    width: 80%;
    margin-top: 5%; }
  .contactos__info {
    align-self: flex-start;
    margin: 5%; }

@media (min-width: 541px) and (max-width: 720px) {
  /* INDEX */
  .titulo {
    height: 60vh;
    margin-bottom: 2%; }
    .titulo h1 {
      font-size: 2rem; }
    .titulo h2 {
      font-size: 2rem; }
  .sobre__nosotros h2 {
    font-size: 1.3rem; }
  .sobre__nosotros h3 {
    font-size: 1rem; }
  .sobre__nosotros p {
    font-size: 1rem; }
  .deportes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .deportes__img {
      width: 100%; }
    .deportes__titulo {
      font-size: 1.3rem; }
    .deportes__texto {
      width: 100%;
      font-size: 1rem; }
  /* FOOTER */
  footer {
    flex-direction: column;
    justify-content: center; }
    footer .footerBlock {
      justify-content: center; }
      footer .footerBlock .footerTexto {
        font-size: 1rem; }
    footer .footerIcon {
      justify-content: center;
      height: 40px; }
    footer .footerContacto {
      justify-content: center;
      margin-right: 2%;
      margin: 0%;
      padding: 0%; }
      footer .footerContacto a {
        font-size: 1rem; }
  /* CURSOS */
  .cursos {
    width: 100%; }
    .cursos__boxuno {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .cursos__boxuno h1 {
        font-size: 1.3rem;
        margin-top: 3%; }
      .cursos__boxuno p {
        font-size: 1rem; }
    .cursos__boxtres {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: normal; }
    .cursos__img {
      margin-top: 3%;
      margin-bottom: 3%; }
  /* TUTORIALES */
  .tutoriales h1 {
    font-size: 1rem; }
  /* CONTACTOS */
  .contactos iframe {
    width: 95%;
    height: 95%;
    margin: 2%; } }

@media (min-width: 320px) and (max-width: 540px) {
  /* INDEX */
  .titulo {
    height: 50vh;
    margin-bottom: 2%; }
    .titulo h1 {
      font-size: 2rem; }
    .titulo h2 {
      font-size: 2rem; }
  .sobre__nosotros h2 {
    font-size: 1rem; }
  .sobre__nosotros h3 {
    font-size: 1rem; }
  .sobre__nosotros p {
    font-size: 0.8rem; }
  .deportes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .deportes__img {
      width: 100%; }
    .deportes__titulo {
      font-size: 1rem; }
    .deportes__texto {
      width: 100%;
      font-size: 0.8rem; }
  /* FOOTER */
  footer {
    flex-direction: column;
    justify-content: center; }
    footer .footerBlock {
      justify-content: center; }
      footer .footerBlock .footerTexto {
        font-size: 0.8rem; }
    footer .footerIcon {
      justify-content: center;
      height: 40px; }
    footer .footerContacto {
      justify-content: center;
      margin-right: 2%;
      margin: 0%;
      padding: 0%; }
      footer .footerContacto a {
        font-size: 0.8rem; }
  /* CURSOS */
  .cursos {
    width: 100%; }
    .cursos__boxuno {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .cursos__boxuno h1 {
        font-size: 1rem;
        margin-top: 3%; }
      .cursos__boxuno p {
        font-size: 0.8rem; }
    .cursos__boxdos p {
      font-size: 0.8rem; }
    .cursos__boxtres {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: normal; }
    .cursos__img {
      margin-top: 3%;
      margin-bottom: 3%; }
  /* TUTORIALES */
  .tutoriales h1 {
    font-size: 1rem; }
  .tutoriales iframe {
    width: 100%; }
  /* EQUIPO */
  .grid__equipos p {
    font-size: 0.8rem; }
  .grid__equipos img:hover {
    transform: none; }
  /* CONTACTOS */
  .contactos iframe {
    width: 90%;
    height: 90%;
    margin: 2%; } }
