/* Aplica a los tres cursos ofrecidos */

.cursos{
    @include flex(column,center,normal);
    background-color: whitesmoke;

    &__boxuno{
        @include flex(row,center,normal);
        margin: 1%;
       
        h1{
            font-size: $titulo-principal;
            text-align: start;
        }

        p{
            text-align: justify; 
         }
    }

    &__boxdos{
        margin: 1%;
    
        p{
           text-align: justify; 
        }
    }

    &__boxtres{
        @include flex(row,center,normal);
        margin: 1%;
    }

    &__img{
        @include flex(row,center,center);
        img{
            width: 100%;
        } 
    }

    &__form{
        @include flex(column,center,normal);
        label{
            font-size: 1rem;
        }
        select{
            font-size: 1rem;
        }
        input{
            font-size: 1rem;
        }
    }


    &__prices{
        @include flex(column,center,center );
        margin: 2%;
        p{
            font-size: 1rem;
        }
    }
}
