.deportes{
    @include flex (row,normal,normal);
    background-color: $cursos-index;
    width: 100%;
    margin-top: 0.5%;
    
    &__contenido{
        @include flex(column,normal,center);
        
    }

    &__box{
        @include flex(column,space-between,center);
        width: 90%;
        padding: 1%;
    }

    &__img{
        border-radius: 20px;
        width: 70%;
    }

    &__titulo{
        color: grey;
        font-size: $titulo-principal;
        margin-bottom: 3%;
        text-align: center;
    }

    &__texto{
        color: grey;
        font-size: $textos;
        text-align: justify;
        padding: 1%;
        width: 70%;
    }
}
