
@media (min-width: 541px) and (max-width: 720px) {

    /* INDEX */
                .titulo{
                    height:60vh;
                    margin-bottom: 2%;
    
                    h1{
                        font-size: 2rem;
                    }
    
                    h2{
                        font-size: 2rem;
                    }
                }
        
                .sobre__nosotros h2{
                    font-size: $titulo-tablet;
                }
        
                .sobre__nosotros h3{
                    font-size: $textos_tablet;
                }
        
                .sobre__nosotros p{
                    font-size: $textos_tablet;
                }
            

                .deportes{
                    @include flex(column,center,center);
        
                    &__img{
                        width: 100%;
                    }
        
                    &__titulo{
                        font-size: $titulo-tablet;
                    }
                
                    &__texto{
                        width: 100%;
                        font-size: $textos_tablet;  
                    }
                }
            
            
        /* FOOTER */

                footer{
                    flex-direction: column;
                    justify-content: center;
                    .footerBlock{
                        justify-content: center;
                        .footerTexto{
                            font-size: $textos_tablet
                        }   
                    }

                    .footerIcon{
                        justify-content: center;
                        height: 40px;
                    }

                    .footerContacto{
                        justify-content: center;
                        margin-right: 2%;
                        margin: 0%;
                        padding: 0%;
                        a{
                            font-size: $textos_tablet;
                        }
                       
                    }
                }
        
              
            
        /* CURSOS */
                .cursos{
                    width: 100%;
                    &__boxuno{
                        @include flex(column,center,center);
                        h1{
                            font-size: $titulo-tablet;
                            margin-top: 3%;
                        }
                
                        p{
                           font-size: $textos_tablet; 
                        }
                    }

                    &__boxtres{
                        @include flex(column,center,normal);
 
                    }

                    &__img{
                        margin-top: 3%;
                        margin-bottom: 3%;
                    }

                }

        
        /* TUTORIALES */
        
                .tutoriales h1{
                    font-size: $titulop-queries;
                }
        
        
        /* CONTACTOS */
        
                .contactos iframe{
                    width: 95%;
                    height: 95%;
                    margin: 2%;
                }
        
            }