/* Tamaño de titulos */

$titulo-principal: 1.5rem;
$titulo-secundario: 1.2rem;
$textos:0.9rem;
$titulop-cel: 1rem;
$titulo-tablet:1.3rem;
$textos_tablet: 0.9rem;
$textos_cel:0.8rem;



/* Colores */

$cursos-index: black;
$bg-form: linear-gradient(to left, rgb(141, 141, 141), rgba(53, 53, 53, 0.219));
$bgcolor-fondo: #7a7a7a94;
$bg-estilo: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");


