/* Tamaño de titulos */

$titulo-principal: 1.5rem;
$titulo-secundario: 1.2rem;
$textos:0.9rem;
$titulop-queries: 1rem;
$textos_tablet: 1rem;
$textos_cel:0.8rem;


/* Colores */

$cursos-index: black;
$bg-form: linear-gradient(to left, rgb(141, 141, 141), rgba(53, 53, 53, 0.219));

