@import 'variables';
@import 'scripts';
@import 'cursosindex';
@import 'footer';


*{
    margin:0;
    padding:0;
    font-size: 16px;    
}

/* PAGE INDEX*/

.titulo{
    @include flex(column,space-between,center);
    background-image: url(../recursos/windsurfers-600x400-1.webp);
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:70vh;
	position: relative;

    &__transicion{
        transition: all 2s
    }

    h1{
        font-size: $titulo-principal*3;
        font-family: 'Water Brush', cursive;
        text-align: center;
        margin: 3%;
        color: black;

        &:hover{
            transform: scale(1.5);
        }
    }

    h2{
        font-size: $titulo-principal*3;
        font-family: 'Water Brush', cursive;
        text-align: center;
        color: black;
        margin: 3%;
    }
}  


.sobre__nosotros{
    @include flex(column,flex-start,flex-start);
    background-color: $bgcolor-fondo;
    background-image: $bg-estilo;

    h2{
        align-self: center;
        font-family: 'Water Brush', cursive;
        margin-bottom: 3%;
        margin-top: 5%;
        font-size: $titulo-principal*2;  
    }

    h3{
        font-size: $titulo-secundario*1.5;
        text-decoration: underline;
    }

    p{
        font-size: $textos;
        text-align: justify;
    }
}

/* PAGE CURSOS*/

.cursos{
    @include flex(column,center,normal);
    background-color: whitesmoke;
    

    &__boxuno{
        @include flex(row,center,normal);
        margin: 1%;
       
        h1{
            font-size: $titulo-principal;
            text-align: center;
            text-decoration: underline;
        }

        p{
            text-align: justify; 
         }

    }

    &__boxdos{
        margin: 1%;
    
        p{
           text-align: justify; 
        }
    }

    &__boxtres{
        @include flex(row,center,normal);
        margin: 1%;
    }

    &__img{
        @include flex(row,center,center);
        img{
            width: 100%;
        }
        
    }

    &__form{
        @include flex(column,center,normal);

        label{
            font-size: 1rem;
        }
        select{
            font-size: 1rem;
        }

        input{
            font-size: 1rem;
        }
    }


    &__prices{
        @include flex(column,center,center );
        p{
            font-size: 1rem;
        }
    }

}


/* PAGE TUTORIALES */

.tutoriales{
    text-align: center;
    p{
        text-align: justify;
    }
}


/* PAGE EQUIPOS */

.grid__equipos{

    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}


/* PAGE CONTACTO */

.contactos{
    @include flex(column,normal,center);

    &__maps{
        margin-top: 2%;
    }
    
    &__form{
        width: 80%;
        margin-top: 5%;
    }
    
    &__info{
        align-self: flex-start;
        margin: 5%;
    }   
}


/* 404 ERROR */

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;

    &__img{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            text-align: center;
            font-size: $titulo-principal*1.5;
        }

        img{
            width: 100%;
            height: 500px;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: $textos*1.5;
        }
    }

}




/* IMPORT DE MEDIAS QUERIES */

@import 'queriestablet';
@import 'queriescel';
             