@import 'variables';
@import 'scripts';
@import 'cursosindex';


*{
    margin:0;
    padding:0;
    font-size: 16px;    
}

/* PAGE INDEX*/

.titulo{
    @include flex(column,space-between,center);
    background-image: url(../recursos/windsurfers-600x400-1.webp);
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:90vh;
	position: relative;

    &__transicion{
        transition: all 2s
    }

    h1{
        font-size: $titulo-principal*3;
        font-family: 'Water Brush', cursive;
        text-align: center;
        margin: 3%;
        color: black;

        &:hover{
            transform: scale(1.5);
        }
    }

    h2{
        font-size: $titulo-principal*3;
        font-family: 'Water Brush', cursive;
        text-align: center;
        color: black;
        margin: 3%;
    }
}  


.sobre__nosotros{
    @include flex(column,flex-start,flex-start);
    background-color: rgba(128, 128, 128, 0.281);

    h2{
        align-self: center;
        margin-bottom: 5%;
        font-size: $titulo-principal;
    }

    h3{
        font-size: $titulo-secundario;
    }

    p{
        font-size: $textos;
        text-align: justify;
    }
}

/* FOOTER */

.footer__center{
    text-align: center;
    margin-top: 2%;
}

/* PAGE CURSOS*/

.cursos{
    @include flex(column,center,normal);
    width: 60%;
    background-color: whitesmoke;

    &__boxuno{
        @include flex(row,center,normal);
        margin: 2%;
        width: 100%;
    
        img{
            width: 100%;
        }
    }
    &__boxdos{
        @include flex(column,center,normal);
        margin: 2%;
        width: 100%;

        h1{
            font-size: $titulo-principal;
        }

        p{
           text-align: justify; 
        }
    }

    &__boxtres{
        @include flex(row,center,normal);
        margin: 2%;
        width: 100%; 

        p{
            text-align: justify;
        }
        
        img{
            width: 100%;
        }

    }

    &__boxcuatro{
        @include flex(row,center,normal);
        margin: 1%;
        width: 100%; 
    }

    &__form{
        @include flex(column,center,normal);

        label{
            font-size: 0.8rem;
        }
        select{
            font-size: 0.8rem;
        }

        input{
            font-size: 0.8rem;
        }
    }

    &__prices{
        @include flex(column,center,center );
        p{
            font-size: 1rem;
        }
    }

}


/* PAGE TUTORIALES */

.tutoriales{
    margin: 2%;
    text-align: center;
}


/* PAGE EQUIPOS */

.grid__equipos{

    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}


/* PAGE CONTACTO */

.contactos{
    @include flex(column,normal,center);

    &__maps{
        margin-top: 2%;
    }
    
    &__form{
        width: 80%;
        margin-top: 5%;
    }
    
    &__info{
        align-self: flex-start;
        margin: 5%;
    }   
}

@import 'queriestablet';
@import 'queriescel';
             